.teacher{
    border: 1px solid gray;
    /* margin: 10px; */
    /* padding: 10px; */
    background-color: rgb(71, 117, 136);
    border-radius: 20px;
 }
 .teacher-name{
    color: wheat;
 }
 .head-border{
    border-bottom: 1px solid lightcyan;
 }