

.icon a i{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 15px;
}

.icon a i:hover{
    color: #eebbc3;
    transform: rotate(360deg);
    transition: transform 1s;
}

.fas{
    color: #eebbc3;
}

.footer-option p a{
    color: white;
    text-decoration: none;
}
.footer-option p a:hover{
    color: #eebbc3;
}